#Dashboard .id {
	text-align: center;
}

#Dashboard .id .role {
	margin-bottom: 0;
	margin-top: 2em;
} 

#Dashboard .id .btn-primary {
	/*margin-top: 1em;*/
}

.notifications .list-group {
	margin-top: 2em !important;
}

.notifications .group-header {
	padding-top: .2em;
	padding-bottom: .2em;
	background: #777;
	color: white;
	text-transform: uppercase;
}